@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#1D2123] text-white font-['Quicksand'_'sans-serif'];
  }
}

input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  height: 5px;
  background: #facd66;
  border-radius: 5px;
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-image: linear-gradient(#facd66, #facd66);
  outline: solid 1px white;
  outline-offset: 0.135rem;
  cursor: ew-resize;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
